<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{'Admin/base'::Layout(~{::navbar},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Library Management System</title>

</head>
<body>
<navbar>

</navbar>
<main>
    <div class="center">
        <div class="wrapper">

        <div class="form-box">
            <h2>Configuration</h2>
            <form th:action="@{/advance}" action="#" method="post" enctype="multipart/form-data">
                <div class="input-box">
                    <input type="text" name="price" required>
                    <label>Penalty price</label>
                </div>
                <div class="input-box">
                    <input type="text" name="usertotal" required>
                    <label>number of book user have</label>
                </div>
                <div class="input-box">
                    <input type="text" name="facultytotal" required>
                    <label>number of book faculty have</label>
                </div>
                <div class="input-box">
                    <input type="text" name="userdue" required>
                    <label>time of book for user have</label>
                </div>
                <div class="input-box">
                    <input type="text" name="facultydue" required>
                    <label>time of book faculty have</label>
                </div>
                <button type="submit" class="bth">change</button>

            </form>

        </div>
    </div>

    </div>
</main>
</body>
</html>
