<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{'Admin/base'::Layout(~{::four},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <four>
            <button>addbook</button>
        </four>
        <main>
            <div class="center">
                <div class="wrapper">
                    <div class="form-box">
                        <form th:action="@{/upload}" action="#" method="post" enctype="multipart/form-data">
                            <div class="input-box">
                                <input type="file" id="file" name="file">
                            </div>
                            <button type="submit" class="bth">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

        </main>
</body>
</html>