<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{'Admin/base'::Layout(~{::navbar},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<navbar th:replace="~{Admin/BookManagement/bookNavbar.html}"></navbar>
<main>
    <div class="center">
        <div class="wrapper">
            <div class="form-box login">
                <h2> Book Record</h2>
                <form th:action="@{/admin/recordbook/}" action="#" method="post" enctype="multipart/form-data">
                    <div class="input-box">
                        <input type="text" name="bookId" required>
                        <label>Book Id</label>
                    </div>
                    <button type="submit" class="bth">Get Record</button>
                    <div th:if="${error}" class="alert alert-danger d-flex align-items-center justify-content-center">
                        <p> Book Id not found </p>
                    </div>
                    <div th:if="${notransaction}" class="alert alert-danger d-flex align-items-center justify-content-center">
                        <p> book have no transaction................ </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Record</h3>
                    </div>
                        <table th:if="${oldRecord}">
                            <thead>
                            <tr>
                                <th>Book ID</th>
                                <th>Book Name</th>
                                <th>Issue Date</th>
                                <th>Return date</th>
                                <th>User ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="book:${oldRecord}">
                                <div th:each="name:${username} ">
                                    <td th:text="${book.bookId}"></td>
                                    <td th:text="${book.bookName}"></td>
                                    <td th:text="${book.issueDate}"></td>
                                    <td th:text="${book.returnDate}"></td>
                                    <td th:text="${book.getUserId()}"></td>
                                    <td th:text="${name.firstName}"></td>
                                    <td th:text="${name.lastName}"></td>
                                    <td th:text="${name.branch}"></td>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
            </div>

</main>
</body>
</html>