<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" >-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<navbar th:replace="~{Admin/BookManagement/bookNavbar.html}"></navbar>&ndash;&gt;-->
<!--<main class="search-main">-->
<!--    <div class="search-container my-4">-->
<!--        <input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="search here">-->
<!--        <div class="search-result"></div>-->
<!--    </div>-->
<!--    <script type="text/javascript" th:src="@{/JS/Search.js}"></script>-->
<!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<!--</main>-->
<!--</body>-->
<!--</html>-->