<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wrapper-signup" th:object="${regData}" th:classappend="${#fields.hasErrors()} ? 'Invalid-Input' : ''">
<div class="form-box register">
    <h2>Registration</h2>
    <form th:action="@{/process}" method="post">
        <div class="input-box">
            <input type="text" name="userName" th:value="${regData.userName}" required>
            <label>Username</label>
            <p th:each="e : ${#fields.errors('userName')}" th:text="${e}" class="bg-transparent text-danger"></p>
        </div>

        <div class="input-box">
            <input type="text" name="email" th:value="${regData.email}" required>
            <label>Email</label>
        <p th:each="e : ${#fields.errors('email')}" th:text="${e}" class="bg-transparent text-danger"></p>
        </div>

        <div class="input-box">
            <input type="password" name="password" th:value="${regData.password}" required>
            <label>Password</label>
        <p th:each="e : ${#fields.errors('password')}" th:text="${e}" class="bg-transparent text-danger"></p>
        </div>

        <div class="input-box-select">
            <label for="role">Role</label>
            <select name="role" id="role" class="bg-transparent" th:value="${regData.role}">
                <option selected disabled> Role </option>
                <option> Admin </option>
                <option> User </option>
            </select>
        </div>
        <p th:each="e : ${#fields.errors('role')}" th:text="${e}" class="bg-transparent text-danger"></p>
        <br>
        <button type="submit" class="bth">Register</button>

        <div class="login-register">
            <p>Already have an account? <a href="/Login" class="login-link">Login</a></p>

        </div>
    </form>
</div>
</div>
</body>
</html>